.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.messageBoard {
  width: 80vw;
  overflow-y: scroll;
  scrollbar-width:none;
}
.messageBoard::-webkit-scrollbar {
  display: none;
}

.footer {
  flex: 1;
}